<!doctype html>
<head>
      <title>css learning</title>
      <link rel="stylesheet" href="../static/css/main.css">
      <link rel="stylesheet" href="../static/css/cards.css">
</head>
<body>
    <nav>
      <p id="project_name"><span id="techpromo">(Haikarose) </span>Prime<span class="post">Post &copy2017</span></p>
      <ul>
          <li><a href="#">PrimePost About</a></li>
          <li><a href="#">Add a Poster</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="index.html">Logout</a></li>
      </ul>
    </nav>
      <span class="line"></span>

      <div id="contents">

        <div class="card">
          <div id="item_holder">
            <p class="card_title">IFMSO</p>
            <p class="card_content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            <p class="card_operation"><span class="signs">&lt</span>Manage<span class="signs">&gt</span></p>
          </div>
        </div>

        <div class="card">
          <div id="item_holder">
            <p class="card_title">LOAN OFFICE</p>
            <p class="card_content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
          <p class="card_operation"><span class="signs">&lt</span>Manage<span class="signs">&gt</span></p>
          </div>
        </div>

        <div class="card">
          <div id="item_holder">
            <p class="card_title">REGISTRER</p>
            <p class="card_content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            <p class="card_operation"><span class="signs">&lt</span>Manage<span class="signs">&gt</span></p>
          </div>
        </div>

        <div class="card">
          <div id="item_holder">
            <p class="card_title">ENTERTAINMENT</p>
            <p class="card_content">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>
            <p class="card_operation"><span class="signs">&lt</span>Manage<span class="signs">&gt</span></p>
          </div>
        </div>


      </div>
</body>
<html>
