<!doctype html>
<head>
      <title>css learning</title>
      <link rel="stylesheet" href="../static/css/main.css">
      <link rel="stylesheet" href="../static/css/posters.css">
</head>
<body>
    <nav>
      <p id="project_name"><span id="techpromo">(Haikarose) </span>Prime<span class="post">Post &copy2017</span></p>
      <ul>
          <li><a href="#">PrimePost About</a></li>
          <li><a href="#">Add a Poster</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="index.html">Logout</a></li>
      </ul>
    </nav>
      <span class="line"></span>

      <div id="contents">

        <div class="card">
          <div class="posterinfo">
            <p class="poster_title">IFMSO</p><p class="poster_post"><span class="number">30</span> posts</p>
          </div>
          <div class="manage">
            <div id="operation"><span class="signs">&lt</span><a href="home.html">Manage</a><span class="signs">&gt</span></div>
          </div>
        </div>

        <div class="card">
          <div class="posterinfo">
            <p class="poster_title">LOAN OFFICE</p><p class="poster_post"><span class="number">30</span> posts</p>
          </div>
          <div class="manage">
            <div id="operation"><span class="signs">&lt</span><a href="home.html">Manage</a><span class="signs">&gt</span></div>
          </div>
        </div>

        <div class="card">
          <div class="posterinfo">
            <p class="poster_title">REGISTRER</p><p class="poster_post"><span class="number">30</span> posts</p>
          </div>
          <div class="manage">
            <div id="operation"><span class="signs">&lt</span><a href="home.html">Manage</a><span class="signs">&gt</span></div>
          </div>
        </div>

        <div class="card">
          <div class="posterinfo">
            <p class="poster_title">RECTOR</p><p class="poster_post"><span class="number">30</span> posts</p>
          </div>
          <div class="manage">
            <div id="operation"><span class="signs">&lt</span><a href="home.html">Manage</a><span class="signs">&gt</span></div>
          </div>
        </div>

        <div class="card">
          <div class="posterinfo">
            <p class="poster_title">ENTERTAINMENT</p><p class="poster_post"><span class="number">30</span> posts</p>
          </div>
          <div class="manage">
            <div id="operation"><span class="signs">&lt</span><a href="home.html">Manage</a><span class="signs">&gt</span></div>
          </div>
        </div>

        <div class="card">
          <div class="posterinfo">
            <p class="poster_title">LOST CASES</p><p class="poster_post"><span class="number">30</span> posts</p>
          </div>
          <div class="manage">
            <div id="operation"><span class="signs">&lt</span><a href="home.html">Manage</a><span class="signs">&gt</span></div>
          </div>
        </div>

      </div>
</body>
<html>
