<!doctype html>
<head>
      <title>css learning</title>
      <link rel="stylesheet" href="../static/css/main.css">
      <link rel="stylesheet" href="../static/css/cards.css">
</head>
<body>
    <nav>
      <p id="project_name"><span id="techpromo">(Haikarose) </span>Prime<span class="post">Post &copy2017</span></p>
      <ul>
          <li><a href="{{url_for('index')}}">Home</a></li>
          <li><a href="#">Add a Poster</a></li>
          <li><a href="#">Contacts</a></li>
          <li><a href="{{url_for('logout')}}">Logout</a></li>
      </ul>
    </nav>
      <span class="line"></span>

      <div id="contents">
        {%if posts|length>0 %}
            {%for post in posts%}
                  <div class="card">
                     <div id="item_holder">
                          <p class="card_title">{{post.date}}</p>
                              <div id="card_flex_box">
                                  <p class="card_content">{{post.content}}</p>
                                  <div class="card_operation">
                                      <span class="signs">&lt</span>
                                      <a href="{{url_for('deletePost',id=post.post_id)}}">Delete</a>
                                      <span class="signs">&gt</span>
                                   </div>
                            </div>
                      </div>
                  </div>
          {%endfor%}
        {%else%}
            <div class="card" style="margin:auto;">
                <div id="item_holder">
                    <div class="card_content" style="color:white; text-align:center">
                      <span style="color:yellow;margin-right:4px;">(info)</span>
                        Content from this uploader are either deleted or not published at all!
                    </div>
                </div>
              </div>
           </div>
        {%endif%}
      </div>
</body>
<html>
