<!doctype html>
<head>
      <title>PrimePost</title>
      <link rel="stylesheet" href="../static/css/main.css?q=1280549780">
</head>
<body>
    <nav>
      <p id="project_name">PrimePost &copy2017</span></p>
      <ul>
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">FORGOT PASSWORD</a></li>
          <li><a href="#">LOGIN</a></li>
      </ul>
    </nav>
      <span class="line"></span>

      <div id="contents">
              <div id="login">
                      <form class="form" method="post" action="{{url_for('login')}}">
                        <div class="row">
                            <input type="email" name="username" placeholder="username/email"/>
                        </div>
                        <div class="row">
                            <input type="password" name="password" placeholder="Password"/>
                        </div>
                        <div class="row">
                            <input type="submit"  class="btnlogin" value="Login"/>
                        </div>
                      </form>
              </div>
      </div>
</body>
<html>
