
<html>
  <head>
    <title>PrimePost</title>
    <link rel="stylesheet" href="../static/css/denisStyle.css?q=1280549780">
    <style type="text/css">

    </style>
  </head>
  <body>
    <div id="container">
      <div id="header">
          <h1 style="font-family:century gothic">Primepost</h1>
        <span id="date">{{tarehe}}</span>
      </div>
          <hr>
      <div id="navigation">
          <ul>
            <li><a href="">home</a></li>
          </ul>
          <span id="logOUT">
            <a href="{{url_for('logout')}}">SignOut</a>
          </span>
      </div>
      <div id="contentBox">
        <div id="upperBox">
          <br>
        <div id="msgbox">There is no any category added.</div>
        <form>
          <input type="text" id="addCatField" placeholder="Write here a new category." />
          <input type="submit" value="Add new" id="addBTN"/>
        </form>
      </div>
      <div id="lowerBox">
        <table id="viewCtgTB">
          <tr>
            <th>post counts.</th>
            <th>Category Name</th>
            <th colspan="2">Actions</th>
          </tr>
			{% for poster in posterInfos%}
			   <tr>
		        <td>{{poster.posts}}</td>
		        <td>{{poster.poster_name}}</td>
		        <td><a href="{{url_for('publish',id=poster.poster_id)}}">Publish a post</td>
		        <td>delete</td>
		      </tr>
		    {%endfor%}
        </table>
      </div>
    </di>

    </div><!--closing container tag-->
  </body>
</html>
