<!doctype html>
<head>
      <title>PrimePost</title>
      <link rel="stylesheet" href="../static/css/main.css?q=1280549780">
</head>
<body>
    <nav>
    <p id="project_name">PrimePost &copy2017</p>
      <ul>
          <li><a href="{{url_for('index')}}">HOME</a></li>
          <li><a href="{{url_for('logout')}}">LOGOUT</a></li>
      </ul>
    </nav>
      <span class="line"></span>

      <div id="contents">
              <div id="login">
                      <form class="form" method="post" action="{{url_for('publish')}}" enctype="multipart/form-data">
                        <div class="row" style="display:flex;">
                            <textarea class="message" style="padding:8px;
                            margin:10px 10px 0px 10px;
                            border:none;
                            height:150px;
                            flex:1;
                            color:grey;
                            background:#ecf0f1;
                            text-align: center;" name="CONTENT" placeholder="Write the message here"></textarea>
                        </div>
                        <div class="row">
                            <input type="file" name="RESOURCE[]" multiple/>
                        </div>
                        <div class="row">
                            <input type="submit"  class="btnlogin" value="PUBLISH POST"/>
                        </div>
                      </form>
              </div>
      </div>
</body>
<html>
